* {
    padding: 0%;
    margin: 0;
}

.overall-container {
    display: grid;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: grey;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
}

.sidebar {
    background-color: rgb(131, 131, 216);
    grid-column: 1;
    grid-row: 1 / 20;
    display: grid;
    align-content: start;
    row-gap: 75px;
}

.sidebar-sub-section-1 {
    display: grid;
    row-gap: 10px;
}

.sidebar-sub-section-2 {
    display: grid;
    row-gap: 10px;
}

.main-content {
    background-color: rgb(235, 135, 135);
    grid-column: 2 / 5;
    grid-row: 4 / 20;
}

